<div class="row">
  <div class="col-md-6">
    <h3>Day 1: Wed February 07</h3>
    <h4>
    Lesson <a href="https://carpentries-incubator.github.io/python-novice-programming-gapminder/" target="_blank" rel="noopener noreferrer">Programming with Python Part 1</a>
    </h4>
<table class="table table-striped">
      <tr> <td>09:30</td>  <td> <a href="https://carpentries-incubator.github.io/python-novice-programming-gapminder/setup.html" target="_blank" rel="noopener noreferrer">Setup</a> </td> </tr>
      <tr> <td>        </td>  <td> <a href="https://carpentries-incubator.github.io/python-novice-programming-gapminder/01-intro/index.html"  target="_blank">Python Fundamentals</a> and
       <a href="https://carpentries-incubator.github.io/python-novice-programming-gapminder/02-pandas/index.html"  target="_blank">Analyzing Data</a> </td> </tr>
      <tr> <td>        </td>  <td> <a href="https://carpentries-incubator.github.io/python-novice-programming-gapminder/03-matplotlib/index.html"  target="_blank">Visualizing Data</a></td> </tr>
      <tr> <td>        </td>  <td> <a href="https://carpentries-incubator.github.io/python-novice-programming-gapminder/04-lists/index.html"  target="_blank">Storing Multiple Values in Lists</a></td> </tr>
      <tr> <td>        </td>  <td> <a href="https://carpentries-incubator.github.io/python-novice-programming-gapminder/05-loop/index.html"  target="_blank">Repeating Actions with Loops</a></td> </tr>
      <tr> <td>14:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2: Thu February 08</h3>
    <h4>
        Lesson <a href="https://caltechlibrary.github.io/git-desktop/" target="_blank" rel="noopener noreferrer"> Version Control with Git & Python Part 2</a>
    </h4>
    <table class="table table-striped">
    <tr> <td>09:30</td>  <td> <a href="https://caltechlibrary.github.io/git-desktop/" target="_blank" rel="noopener noreferrer">Automated Version Control</a> </td> </tr>
      <tr> <td>        </td>  <td> <a href="https://caltechlibrary.github.io/git-desktop/07-collab/"  target="_blank">Collaboration on GitHub</a> </td> </tr>
      <tr> <td>        </td>  <td> <a href="https://carpentries-incubator.github.io/python-novice-programming-gapminder/06-files/index.html"  target="_blank">Analyzing Data From Mutliple Files</a> </td> </tr>
      <tr> <td>        </td>  <td> <a href="https://carpentries-incubator.github.io/python-novice-programming-gapminder/07-cond/index.html"  target="_blank">Making Choices</a> </td> </tr>
      <tr> <td>        </td>  <td> <a href="https://carpentries-incubator.github.io/python-novice-programming-gapminder/08-func/index.html"  target="_blank">Creating Functions</a> </td> </tr>
      <tr> <td>14:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 3: Fri February 09</h3>
    <h4>
       Lesson <a href="https://carpentries-incubator.github.io/python-novice-programming-gapminder/" target="_blank" rel="noopener noreferrer">Python Part 3 & Open Science</a>
    </h4>
    <table class="table table-striped">
      <tr> <td>09:30</td>  <td> <a href="https://carpentries-incubator.github.io/python-novice-programming-gapminder/09-errors/index.html" target="_blank">Errors and Exceptions</a> </td> </tr> 
      <tr> <td>     </td>  <td> <a href="https://carpentries-incubator.github.io/python-novice-programming-gapminder/10-defensive/index.html" target="_blank">Defensive Programming</a> </td> </tr>                       
      <tr> <td>     </td>  <td> <a href="https://carpentries-incubator.github.io/python-novice-programming-gapminder/11-debugging/index.html" target="_blank">Debugging</a> </td> </tr>
      <tr> <td>     </td>  <td> <a href="https://caltechlibrary.github.io/git-desktop/09-preservation/" target="_blank">Open Science</a> </td> </tr>
      <tr> <td>14:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3></h3>
    <h4>
       
    </h4>
    <table class="table table-striped">
      <tr> <td></td>  <td> <a  </a> </td> </tr> 
      <tr> <td>     </td>  <td> <a </a> </td> </tr>                       
      <tr> <td>     </td>  <td> <a </a> </td> </tr>
      <tr> <td>     </td>  <td> <a </a> </td> </tr>
      <tr> <td>     </td>  <td> <a </a> </td> </tr>
      <tr> <td>     </td>  <td> <a </a> </td> </tr>
      <tr> <td>     </td>  <td> <a </a> </td> </tr>
      <tr> <td>     </td>  <td> <a </a> </td> </tr>
      <tr> <td></td>  <td></td> </tr>
    </table>
  </div>
